ID_ICON_APPLICATION				ICON			"Images\\Application\\ICON_MainFrame.ico"
ID_ICON_MAIN_FRAME				ICON			"Images\\Application\\ICON_MainFrame.ico"
ID_ICON_LOG_FRAME				ICON			"Images\\Application\\ICON_LogFrame.ico"
ID_TOOL_CLEARSCREEN				RCDATA			"Images\\ToolBarIcons\\ClearScreen.png"
ID_TOOL_COPYSCREENSHOT			RCDATA			"Images\\ToolBarIcons\\CopyScreenShot.png"
ID_TOOL_QUICKSHOTS				RCDATA			"Images\\ToolBarIcons\\QuickShot.png"
ID_TOOL_SAVESCREENSHOT			RCDATA			"Images\\ToolBarIcons\\SaveScreenShot.png"
ID_TOOL_OPENSCREENSHOTSFOLDER	RCDATA			"Images\\ToolBarIcons\\OpenScreenShotsFolder.png"
ID_TOOL_DEVICECONNECT			RCDATA			"Images\\ToolBarIcons\\DeviceConnect.png"
ID_TOOL_DEVICEDISCONNECT		RCDATA			"Images\\ToolBarIcons\\DeviceDisconnect.png"
ID_TOOL_SHOWLOGWINDOW			RCDATA			"Images\\ToolBarIcons\\ShowLogWindow.png"
ID_TOOL_SHOWLOGWINDOW_DISABLE	RCDATA			"Images\\ToolBarIcons\\ShowLogWindow_Disable.png"
ID_TOOL_SETTING					RCDATA			"Images\\ToolBarIcons\\Settings.png"
ID_TOOL_ABOUT					RCDATA			"Images\\ToolBarIcons\\About.png"
ID_TOOL_EXIT					RCDATA			"Images\\ToolBarIcons\\Exit.png"
ID_IMAGE_ABOUT					RCDATA			"Images\\Application\\About.png"

#include "wx/msw/wx.rc"
